<div *ngIf='startState && !startState.hidden'>
  <app-lang-list [handler]='startState.handleEvents'
                 [langTable]='startState.langTable'
                 [language]='startState.language'>
  </app-lang-list>
  <div>
    <img *ngFor='let image of startState.images'
         src={{image.large}}
         width="300"
         title={{image.originName}}>
    <h1>{{startState.title}}</h1>
    <p>{{startState.summary}}</p>
    <button (click)='startState.handleEvents.handleNextClick()'>
      {{startState.nextLoading 
        ? 'loading...' 
        :startState.nextButton
      }}
    </button>
  </div>
</div>